<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Notas
    </ion-title>
    <ion-button slot="end" class="button-logout" color="danger" (click)="logout()">Cerrar sesión
      <ion-icon name="log-out-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <br/>
  <ion-button shape="round" fill="outline" (click)="getLocation()">Comprobar ubicacion</ion-button>
  <br/>
  <ion-label><h2>Latitud: </h2>{{this.latitud}}</ion-label>
  <br/>
  <ion-label><h2>Longitud: </h2>{{this.longitud}}</ion-label>
  <br/>
  <ion-button shape="round" fill="outline" (click)="vibrate()">Comprobar vibración</ion-button>

  <ion-item>
    <ion-icon slot="end" name="person"></ion-icon>
    <ion-label class="datos">App Desarrollada por Adrián Cordero Frías</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="end" name="school"></ion-icon>
    <ion-label class="datos">IES Francisco de los Ríos</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="end" name="mail"></ion-icon>
    <ion-label class="datos">Contacto: aacordero@iesfranciscodelosrios.es</ion-label>
  </ion-item>
</ion-content>

 